@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@font-face {
    font-family: Age;
    src: local("Age Normal"), local("Age-Normal"),
        url("/fonts/Age/Age-Normal.eot") format("embedded-opentype"),
        url("/fonts/Age/Age-Normal.woff2") format(woff2),
        url("/fonts/Age/Age-Normal.woff") format(woff),
        url("/fonts/Age/Age-Normal.otf") format(OpenType),
        url("/fonts/Age/Age-Normal.tff") format(OpenType);
}

body{
    font-family: Cinzel, 'Times New Roman', Times, serif;
    background-color: #303030;
    color: white;
    text-align: center;
}

h1, h2{
    font-family: Age, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.15em;
}

/* CARD STUFF ################################################################################################ */

#card-holder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 2em;
}

.card{
    border: 2px solid rgb(22, 22, 22);
    position: relative;
    padding-bottom: 3.5em;
}

.card img{
    max-width: calc(100% - 2em);
    margin: 1em;
}

.card p{
    margin: 0;
    font-size: 24pt;
}

.card div{
    margin: 1em auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: max-content;
    bottom: 0;
}

.card a{
    border-radius: 1000em;
    position: relative;
    margin: 0 0.25em;
    z-index: 50;
}

.card a:first-of-type{
    background-color: rgb(38, 143, 60);
    padding: 0.5em 4em;
}

.card a:nth-of-type(2){
    background-color: rgb(79, 149, 189);
    padding: 0.5em 2em;
}

.card a > img{
    margin: 0;
    height: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card a[download] > img{
    height: 1.5em;
}

.card cite{
    color: #c0c0c0;
}

/* Individual Games ################################################################################################ */

#ascend{
    font-family: 'Space Mono', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: #14151f;
    background-color: #2f3142;
    overflow: hidden;
}

#ascend cite{
    font-family: Coolvetica, Verdana, Geneva, Tahoma, sans-serif;
}

#ascend > div{
    padding: 0 40px;
}

#ascend a:first-of-type{
    border-radius: 0 100em 100em 0;
}

#ice{
    background-color: #75cee3;
    height: 2em;
    width: 5em;
    position: absolute;
    left: 5.5%;
    bottom: -50%;
    box-shadow: 0 0 15px #75cee3;
    rotate: -45deg;
}

#player{
    background-color: #fff;
    height: 2em;
    width: 1em;
    right: -2.5%;
    bottom: 60%;
    box-shadow: 0 0 15px #fff;

}