@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face{
    font-family:sports world;
    font-style:normal;
    font-weight:400;
    src: local('Sports World'),
        url('fonts/Sports-World-Regular.otf') format('OpenType')}
@font-face {
    font-family: Age;
    src: local("Age Normal"), local("Age-Normal"),
        url("/fonts/Age/Age-Normal.eot") format("embedded-opentype"),
        url("/fonts/Age/Age-Normal.woff2") format(woff2),
        url("/fonts/Age/Age-Normal.woff") format(woff),
        url("/fonts/Age/Age-Normal.otf") format(OpenType),
        url("/fonts/Age/Age-Normal.tff") format(OpenType);
}
@font-face {
    font-family: "Minecraft";
    src: local("Minecraft"), local("Minecraft Font"), url(fonts/MinecraftRegular-Bmg3.otf);
  }

body{
    font-family: Cinzel, 'Times New Roman', Times, serif;
    background-color: #303030;
    color: white;
    text-align: center;
}

h1, h2{
    font-family: Age, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.15em;
}

/* CARD STUFF ################################################################################################ */

#card-holder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 2em;
}

.card{
    border: 2px solid rgb(22, 22, 22);
    position: relative;
    padding: 1em;
    padding-bottom: 3.5em;
}

.card img{
    width: 100%;
}

.card p{
    margin: 0;
    font-size: 24pt;
}

.card sub{
    margin: 0;
    font-size: 18pt;
}

.card div{
    margin: 1em auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: max-content;
    bottom: 0;
}

.card a{
    border-radius: 1000em;
    position: relative;
    margin: 0 0.25em;
    z-index: 50;
}

.card a:first-of-type{
    background-color: rgb(38, 143, 60);
    padding: 0.5em 4em;
}

.card a:nth-of-type(2){
    background-color: rgb(79, 149, 189);
    padding: 0.5em 2em;
}

.card a > img{
    margin: 0;
    height: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card a[download] > img{
    height: 1.5em;
}

.card cite{
    color: #c0c0c0;
}

/* Individual Games ################################################################################################ */

#ascend{
    font-family: 'Space Mono', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: #14151f;
    background-color: #2f3142;
    overflow: hidden;
}

#ascend cite{
    font-family: Coolvetica, Verdana, Geneva, Tahoma, sans-serif;
}

#ascend > div{
    padding: 0 40px;
}

#ascend a:first-of-type{
    border-radius: 0 100em 100em 0;
}

#ice{
    background-color: #75cee3;
    height: 2em;
    width: 5em;
    position: absolute;
    left: 5.5%;
    bottom: -50%;
    box-shadow: 0 0 15px #75cee3;
    rotate: -45deg;
}

#player{
    background-color: #fff;
    height: 2em;
    width: 1em;
    right: -2.5%;
    bottom: 60%;
    box-shadow: 0 0 15px #fff;
}

#blitz{
    background-color: #8fcbcf;
    font-family: Nunito, sans-serif;
    border: 2px solid #fff;
}

#blitz cite{
    color: white;
    font-family: Nunito, sans-serif;
}

#nummeral{
    font-family: "Sports World", serif;
    background-color: #6b4f9b;
    border-color: #8668ba;
}

#pje{
    background-color: #756b90;
    font-family: 'Times New Roman', Times, serif;
}

#adventure{
    background-color: #8b8000;
    border-color: #fff;
}

#mail{
    font-family: 'Poppins', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b2eeb2;
    color: black;
    border-color: #9fdb9f;
}

#mail cite{
    color: black;
    opacity: 0.6;
}

#kermit{
    font-family: 'Poppins', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #679b3b;
    border-color: #8abe3e;
}

#minecraft{
    font-family: "Minecraft", monospace;
    background-color: #7f7f7f;
    border-color: #5deaf4;
}

#breakout{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3f3f3f;
    border-color: #add8e6;
}

#breakout sub{
    display: block;
}

#gtn{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(52, 50, 190);
    border-color: #a57cdc;
}

#lucky{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #083e74;
    border-color: #00a9cb;
}