html {
    background-color: #666287;
}
button {
    width: 24em;
    height: 40px;
    color: rgb(24, 35, 133);
    background-color: rgba(211, 149, 34, 0.849);
    border-radius: 1em;
    border-color: darkslategray;
    transition: transform .2s;
    margin-left: 2em;
}  
  button:hover {
    transform: scale(1.5);
  }
  img {
    transition: transfrom .2;
  }
img :hover{
  transform: scale(1.5);
}
.upgradebuttons{
  width: 15em;
  height: 40px;
  color: rgb(24, 35, 133);
  background-color: rgba(211, 149, 34, 0.849);
  border-radius: 1em;
  border-color: darkslategray;
  justify-content: center;
  margin: auto;
  transition: transform .2s;
  margin-right: 2em;
}