button {
    width: 80em;
    height: 50px;
    color: rgb(24, 35, 133);
    background-color: rgba(211, 149, 34, 0.849);
    border-radius: 1em;
    border-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: transform .2s;
}
button:hover {
  transform: scale(1.5);
}
img{
    width: 50em;
}

